<%- include('header') -%>

<h1><%= title %></h1>

<%- include('page') -%>

<div class="link">
  <a class="link__link" href="/login">Innskráning</a>
</div>

<div class="link">
  <a class="link__link" href="/register">Nýskráning notenda </a>
</div>

<%- include('footer') -%>
